[submodule "qjsonrpc"]
	path = qjsonrpc
	url = https://github.com/Julien-Blanc-tgcm/qjsonrpc.git
[submodule "lib/mdns_qt"]
	path = lib/mdns_qt
	url = https://github.com/Julien-Blanc-tgcm/mdns_qt.git
[submodule "lib/avrcontrol"]
	path = lib/avrcontrol
	url = https://github.com/Julien-Blanc-tgcm/avrcontrol.git
